html, body {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
}
.grid {
  display: grid;
  grid-template-columns: 40px repeat(3, [col] 1fr) 40px;
  grid-template-rows: repeat(8, [row] auto);
  padding: 0px;
  margin: 0px;
  gap: 10px;
}
.box {
  display: flex;
  justify-content: center;
}
.card {
  height: 400px;
  border: 1px solid;
  display: flex;
}

/* Styles for the slider and bar */
#sliderContainer {
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}
.outputContainer {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bar {
  height: 100px;
}

input.sliderMin {
  text-align: right;
}
input.sliderMax {
  margin-left: 20px;
}
input.sliderRange {
  border: none;
  width: 70px;
}
input.sliderRange.unlocked {
  border: 1px solid black;
}
output.slider {
  font-size: 24pt;
}
text.title {
  font-size: 16pt;
  text-align: center;
}
p {
  font-size: 11pt;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%
}
.backgroundRect {
  fill: lightgrey;
  /* stroke: blue;
  stroke-width: 3; */
}
.unlockBtn {
  margin-top: 10px;
}

/* Custom slider styles */
input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 15.8px 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #000000;
  border-radius: 0px;
  border: 2px solid #000101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 40px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -17.8px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #1c1c1c;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #000000;
  border-radius: 0px;
  border: 2px solid #000101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 40px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #000000;
  border: 2px solid #000101;
  border-radius: 0px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #000000;
  border: 2px solid #000101;
  border-radius: 0px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 40px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  height: 8.4px;
}
input[type=range]:focus::-ms-fill-lower {
  background: #000000;
}
input[type=range]:focus::-ms-fill-upper {
  background: #1c1c1c;
}

/* Individual styles for box placement */
.head {
  grid-column: col / span 3;
  grid-row: row 1;
  height: 50px;
}
.summaryPanel {
  grid-column: col / span 3;
  grid-row: row 2;
  height: 200px;
  border: 1px solid;
}
.stackedBar {
  grid-column: col / span 3;
  grid-row: row 3;
  height: 200px;
  border: 1px solid;
}
.cash1 {
  grid-column: col ;
  grid-row: row 4;
}
.cash2 {
  grid-column: col 2;
  grid-row: row 4;
}
.cash3 {
  grid-column: col 3;
  grid-row: row 4;
}
.equity1 {
  grid-column: col ;
  grid-row: row 5;
}
.equity2 {
  grid-column: col 2;
  grid-row: row 5;
}
.equity3 {
  grid-column: col 3;
  grid-row: row 5;
}
.perks1 {
  grid-column: col ;
  grid-row: row 6;
}
.perks2 {
  grid-column: col 2;
  grid-row: row 6;
}
.perks3 {
  grid-column: col 3;
  grid-row: row 6;
}
.time1 {
  grid-column: col ;
  grid-row: row 7;
}
.time2 {
  grid-column: col 2;
  grid-row: row 7;
}
.time3 {
  grid-column: col 3;
  grid-row: row 7;
}
.footer {
  grid-column: col / span 3;
  grid-row: row 8;
  background-color: lightgrey;
  height: 50px;
}

/* Footer tag styles */
.ioTag {
  display: flex;
  flex-direction: row;
  text-align: center;
}
.ioLine {
  padding-left: 20px;
  padding-right: 20px;
}
